<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\dell\Desktop\MPI\ISI\WebSite1\OnlineShoppingMall.accdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
    <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>